.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 28, 29);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.output {
  height: 400px;
  width: 500px;
  border-radius: 5px;
  border: 3px solid transparent;
  margin: 30px;
}

.input {
  height: 400px;
  width: 500px;
  border-radius: 5px;
  border: 3px solid transparent;
  margin: 30px;
}

.display {
  font-family: Slack-Lato, appleLogo, sans-serif;
  font-size: 15px;
  padding: 10px;
  text-align: left;
}

.code {
  padding: 2px 3px 1px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background-color: rgba(29, 28, 29, 0.04);
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  font-size: 12px;
  color: #e01e5a;
  margin-right: 4px;
  padding: 2px 3px 1px 2px;
}

.code-block {
  color: rgb(29, 28, 29);
  font-size: 12px;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  border: 1px solid #d9d9d9;
  background-color: #f6f6f6;
  border-radius: 4px;

  padding: 8px;
  margin: 0 10px;
  text-align: left;
}

.blockquote {
  position: relative;
  color: hotpink;
  line-height: 1.5;
  margin: 0 5px;
  text-align: left;
  padding-left: 12px;
}

.blockquote::before {
  width: 5px;
  border-radius: 5px;
  background: orange;
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
}

code {
  padding: 2px 3px 1px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background-color: rgba(29, 28, 29, 0.04);
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  font-size: 12px;
  color: #e01e5a;
  margin-right: 4px;
  padding: 2px 3px 1px 2px;
}

blockquote {
  position: relative;
  color: hotpink;
  line-height: 1.5;
  margin: 0 5px;
  text-align: left;
  padding-left: 12px;
}

blockquote::before {
  width: 5px;
  border-radius: 5px;
  background: orange;
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
}

/*this is probably a placeholder classname from a library, idk how to change it*/
.language-asdf {
  color: rgb(29, 28, 29);
  font-size: 12px;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  border: 1px solid #d9d9d9;
  background-color: #f6f6f6;
  border-radius: 4px;

  padding: 8px;
  margin: 0 10px;
  text-align: left;
}
